* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -------------------------------------- Nav Section --------------------------------- */
#header {
    display: flex;
    justify-content: center;
    /* border: solid; */
    background-color: #267bf6;
}
.navbar {
    background-color: #267bf6;
    text-align: center;
    /* border: 1px dashed red; */

}
.navbar ul {
    display: inline-flex;
    list-style: none;
    /* color: rgb(167, 167, 167); */

}
.navbar ul li {
    width: 147px;
    padding: 12px;
    margin: 12px 0px;
}
.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white
    
}
.navbar ul li:hover {
    background-color: transparent;
    color: white;
}
.sub-menu {
    display: none;
    background-color: #267bf6;
}
.navbar ul li:hover  .sub-menu{
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: -15px;
}
.navbar ul li:hover  .sub-menu ul {
    display: block;
    text-align: left;
    margin: 10px;
}
.navbar ul li:hover  .sub-menu ul li {
    width: 220px;
    padding: 10px;
}
.signup-btn {
    font-size: 18px;
    width: 120px;
    height: 34px;
    border: 0;
    color: #267bf6;
    background-color: white;
    border-radius: 10px;
}
.signup-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #1161d0;
}

/* ------------------------------------------Super container ----------------------------------------- */
#super-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: grey;
    /* border: 1px solid blueviolet; */

}

/* --------------------------------------------- Left card section ----------------------------------- */
#left-sec {
    width: fit-content;
    padding: 0px 16px;
    /* border: 1px solid red; */
}

.card {
    width: 200px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* border: 1px solid; */
}

.card h3 {
    padding: 6px 1px;
}

.card a,
span {
    font-size: 14px;
    font-weight: lighter;
}

.card a {
    color: #54bdea;
}

.subtitle {
    text-decoration: none;
    border: 1px dashed red;
}

.subtext {
    margin-left: 10px;
    text-decoration: none;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li span {
    color: grey;
}

/* ------------------------------------------- main-container -------------------------------------- */
#main-container {
    width: 70%;
    /* border: 1px solid black; */
}

#main-container h1 {
    color: black;
    font-weight: 500;
}

#details {
    display: flex;
    /* border: 1px solid red; */
}

#details div {
    width: 50%;
    padding: 20px;
    /* border: 1px solid green; */
}

.img-container img {
    border: 10px solid #54bdea;
    width: 100%;
}

.right-sec p,
h2,
hr {
    margin-bottom: 10px;
}

button {
    display: block;
    width: 140px;
    height: 40px;
    border-radius: 7px;
    color: #54bdea;
    background-color: white;
    border-color: grey;
    margin-bottom: 7px;
}

/* ----------------------------------------- Footer section --------------------------------------- */

.footer {
    line-height: 1.5;      
    padding: 60px;
    background-color: #ffffff;
    /* border: solid; */
}
.sub-container {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col, .copyright {
    width: 25%;
    padding: 2px;
    /* border: 1px dashed green; */
}
.footer-col h4 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}
ul {
    list-style: none;
}
.footer-col li a{
    color: rgb(129, 129, 129);
}
.footer-col li a:hover {
    text-decoration: none;
    color: #45b6f8;
}
.sub-cont-2 {
    margin-top: 50px;
    /* border: 1px dashed red; */
}
.copyright {
    margin: auto;
}
.copyright h4 {
    text-align: center;
    font-size: 18px;
    /* margin-bottom: 10px; */
    font-weight: 300;
    /* border: 1px dashed green; */
}
